@model Gartenkraft.Models.tblProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_short_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_short_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_long_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_long_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_unit_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_unit_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_date_added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_date_added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_image_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_image_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProduct_Category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct_Category.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStore.store_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStore.store_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
