@model IEnumerable<Gartenkraft.Models.tblProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_short_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_long_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_unit_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_unit_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_date_added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_image_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProduct_Category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblStore.store_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_short_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_long_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_unit_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_unit_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_date_added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_image_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProduct_Category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblStore.store_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id })
        </td>
    </tr>
}

</table>
