@model Gartenkraft.Models.tblProduct_Option

<h2>Delete Option</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProduct.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct.product_name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Edit", new { id = Model.product_id }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>

<br />
<hr />
<br />