@model IEnumerable<Gartenkraft.Models.vwProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_short_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_unit_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_short_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_unit_price)
        </td>
        <td>
            @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { productID = item.product_id }, htmlAttributes: null) 
        </td>
    </tr>
}

</table>
