@model IEnumerable<Gartenkraft.Models.vwProduct>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>

<section class="items">
    <ul class="item-list list-unstyled clearfix">
        
        @foreach (var item in Model)
        {
            <li class="col-md-4 text-center">
                <div class="info">
                    <h3>@item.product_name</h3>
                    @if (item.ProductImages.Count > 0)
                    {
                        <img src="@Url.Content("~/ProductImages/" + item.product_id + "/" + item.ProductImages.First().product_image_name)" alt="Product Image" class="center-block img-responsive" />
                    }
                    else
                    {
                        <img src="http://via.placeholder.com/200x200" alt="Product Image" class="center-block img-responsive" />
                    }
                    <p class="text-muted">@item.product_short_description</p>
                    <p>Price: @item.product_unit_price.ToString(("c"))</p>
                </div>
                @Html.ActionLink("View Product", "View", "Product", new {productID = item.product_id}, new {@class = "btn btn-primary"})
            </li>
        }

    </ul>
</section>

