@model Gartenkraft.Models.vwProduct

@{
    ViewBag.Title = @Model.product_name;
}

<section class="item">
    
    <div class="info">
        
        <div class="row">
            
            <div class="product-images col-md-4">
                <img src="http://via.placeholder.com/250x250" alt="@Model.product_name image" class="img-responsive"/>
                <ul class="thumbnail-list list-unstyled clearfix">
                    <li class="image-thumbnail">
                        <img src="http://via.placeholder.com/25x25" alt="@Model.product_name thumbnail"/>
                    </li>
                    <li class="image-thumbnail">
                        <img src="http://via.placeholder.com/25x25" alt="@Model.product_name thumbnail"/>
                    </li>
                    <li class="image-thumbnail">
                        <img src="http://via.placeholder.com/25x25" alt="@Model.product_name thumbnail"/>
                    </li>
                    <li class="image-thumbnail">
                        <img src="http://via.placeholder.com/25x25" alt="@Model.product_name thumbnail"/>
                    </li>
                    <li class="image-thumbnail">
                        <img src="http://via.placeholder.com/25x25" alt="@Model.product_name thumbnail"/>
                    </li>
                </ul>
            </div> <!-- ./col-md-4 -->

            <div class="col-md-4">
                <h2>@Model.product_name</h2>
                
                <p>@Model.product_short_description</p>
                <p>@Model.product_long_description</p>
                <p>Price: @Model.product_unit_price.ToString(("c"))</p>

                @using (Html.BeginForm("Add", "Cart"))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.product_id)
                    @Html.LabelFor(model => model.quantity)
                    @Html.EditorFor(model => model.quantity, new {htmlAttributes = new {@Value = "1"}})

                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                }

            </div> <!-- ./col-md-4 -->

        </div> <!-- ./row -->

    </div> <!-- ./item -->

</section>
