@model Gartenkraft.Models.vwProduct

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>vwProduct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.product_id)

        @Html.HiddenFor(model => model.product_name)

        @Html.HiddenFor(model => model.product_short_description)

        @Html.HiddenFor(model => model.product_long_description)

        @Html.HiddenFor(model => model.product_unit_price)

        @Html.HiddenFor(model => model.product_category_id)

        @Html.HiddenFor(model => model.product_line_id)

        @Html.HiddenFor(model => model.product_weight)

        <div class="form-group">
            @Html.LabelFor(model => model.is_visible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.is_visible)
                    @Html.ValidationMessageFor(model => model.is_visible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
