@model Gartenkraft.Models.Cart

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Your Shopping Cart</h2>

@*TODO Display message if cart is empty*@
@if (Model.Total == 0)
{
    <p>There are no items in your shopping cart.</p>

}
else
{
    <table class="table">
        
        <thead>
            <tr>
                <th>@*image*@</th>
                <th>@Html.DisplayNameFor(model => model.CartItems.Single().lineitem_quantity)</th>
                <th>@Html.DisplayNameFor(model => model.CartItems.Single().GetProduct().product_name)</th>
                <th>@Html.DisplayNameFor(model => model.CartItems.Single().GetProduct().product_short_description)</th>
                <th>@Html.DisplayNameFor(model => model.CartItems.Single().GetProduct().product_unit_price)</th>
                <th>@Html.DisplayName("Total")</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    <td></td>
                    <td>
                        @Html.HiddenFor(modelItem => item.product_id)
                        @Html.EditorFor(modelItem => item.lineitem_quantity, new {@type = "number", @min = "1", @step = "1"})
                        <input type="submit" value="Update" class="btn btn-warning"/>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.GetProduct().product_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.GetProduct().product_short_description)</td>
                    <td>@Html.DisplayFor(modelItem => item.GetProduct().product_unit_price)</td>
                    <td>@Html.DisplayFor(modelItem => item.LineTotal)</td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveLineitem", new {productID = item.GetProduct().product_id}, htmlAttributes: new {@class = "btn btn-danger"})
                    </td>
                }
            </tr>
        }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="6" class="text-right">Subtotal: @Model.Subtotal.ToString("c")</td>
            </tr>
            <tr>
                <td colspan="6" class="text-right">Shipping: $0.00</td>          
            </tr>
            <tr>
                <td colspan="6" class="text-right">Order total: @Model.Total.ToString("c")</td>
            </tr>
        </tfoot>

    </table>
}