@model IEnumerable<Gartenkraft.Models.tblProduct_Line>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_line_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soft_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_visible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_line_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soft_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_visible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_line_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.product_line_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_line_id })
        </td>
    </tr>
}

</table>
