<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-dark bg-faded fixed">
        <h1 class="navbar-brand mb-0">Navbar</h1>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home") <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Product Lines", "Index", "Product_Line")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Categories", "Index", "Product_Category")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Products", "Index", "Products")
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </nav>
        </div>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </main>
    </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Admin Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Product Lines", "Index", "Product_Line")</li>
                        <li>@Html.ActionLink("Categories", "Index", "Product_Category")</li>
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
