@model IEnumerable<Gartenkraft.Models.AspNetRole>
@{
    ViewBag.Title = "ManageRoles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ManageRoles</h2>

@Html.ActionLink("Create New", "CreateRole", null, htmlAttributes: new { @class = "btn btn-default" })

<table class="table table-list-search">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th align="center"><em class="fa fa-cog"></em></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                <a class="btn btn-warning" href="@Url.Action("EditRole", new { id = item.Id })"><em class="fa fa-pencil"></em></a>
                <a class="btn btn-danger" id="deleteproduct" href="@Url.Action("DeleteRole", new { id = item.Id})"><em class="fa fa-trash"></em></a>
            </td>
        </tr>
    }
</table>

