@model IEnumerable<Gartenkraft_Admin.Models.tblProduct_Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Add a New Category", "Create")
</p>

<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Category Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="category" value="">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Store</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="store" placeholder="Store">
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_image_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soft_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProduct_Line.product_line_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_image_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soft_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProduct_Line.product_line_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.category_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.category_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.category_id })
        </td>
    </tr>
}

</table>
