@model IEnumerable<Gartenkraft_Admin.Models.tblProduct_Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<!-- Tim H commented following <p> and replaced it with <div> after it -->
<!-- <p>
    at Html.ActionLink("Add a New Category", "Create")
</p> -->


<div class="pull-right">
    <div class="btn-group">
        <a class="btn btn-danger" href="@Url.Action("Create")"><em class="fa fa-plus"></em>Add</a>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soft_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProduct_Line.product_line_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soft_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProduct_Line.product_line_name)
        </td>

        <!-- Tim H added the following <td> and commented the <td> following it -->

        <td align="center">
        <a class="btn btn-default" href="@Url.Action("Edit", new { id = item.category_id })"><em class="fa fa-pencil"></em></a>
        <a class="btn btn-danger" href="@Url.Action("Details", new { id = item.category_id, @class = "btn btn-link" })"><em class="fa fa-eye"></em></a>
        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.category_id, @class = "btn btn-link" })"><em class="fa fa-trash"></em></a>
        </td>


        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.category_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.category_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.category_id })
        </td> *@
    </tr>
}

</table>
