@model Gartenkraft.Models.tblProduct_Option

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblProduct_Option</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProduct.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_option_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
